/**
 * Default theme for reveal.js.. customized.
 *
 */
@font-face {
  font-family: 'Helvetica';
  font-weight: normal;
  font-style: normal;
}
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #1c1e20;
}
.reveal {
  font-family: helvetica, arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: normal;
  color: #fff;
}
::selection {
  color: #fff;
  background: #ff5e99;
  text-shadow: none; 
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2 {
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  line-height: 0.9em;
  letter-spacing: normal;
  text-transform: uppercase;
}
.reveal h1, .reveal h2 {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}
.transparent {
  background: rgba(82, 82, 82, 0.6);
  padding: 20px;
}
.directions {
  background: rgba(82, 82, 82, 0.6);
  padding: 20px;
  margin-top: 50px;
}
#image-center {
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #13daec;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: #71e9f4;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #0d99a5;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
}
.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #13daec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #ffffff;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #ffffff;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #ffffff;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #ffffff;
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #ffffff;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #ffffff;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #ffffff;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #ffffff;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}
.reveal .progress span {
  background: #ffffff;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #13daec;
}

@media all and (min-width: 320px) and (max-width: 600px) {
  .reveal p, .reveal a, .reveal li {
    font-size: 70px;
    line-height: 1.2em;
  }
  ul {
    padding-left: 20px;
  }
  .contact-images {
    width: 100px;
  }
}
