body {
    background-color: #1F2232;
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: .04em;
    margin: 50px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    font-weight: 100;
    letter-spacing: 0;
    margin: 60px 0;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 0;
    margin: 60px 0;
}

a {
    color: #E3BAC6;
    text-decoration: none;
}

section {
    margin: 10px 30px;
}

.title {
    padding-top: 10px;
    margin-bottom: -20px;
}

.emphasize {
    padding-top: 20px;
    color: #BC9EC1;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

@media (min-width: 480px) and (max-width: 900px) {
    div {
        width: 80%;
    }
}

@media (min-width: 400px) and (max-width: 479px) {
    div {
        width: 100%;
    }
    h1 {
        font-size: 60px;
        font-weight: 200;
    }
}

@media (max-width: 479px) {
    div {
        width: 100%;
    }
    h1 {
        font-size: 50px;
        font-weight: 200;
    }
}

section > img {
    float: left;
    margin: 5px 15px;
    height: 100px;
    border-radius: 5px;
}